In [58]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import pickle
import joblib

In [ ]:

# JSON 파일 경로
json_file_path = './user_data.json'

# JSON 파일을 DataFrame으로 읽기
df = pd.read_json(json_file_path)

# DataFrame을 CSV 파일로 저장
csv_file_path = './user_data.csv'
df.to_csv(csv_file_path, index=False)  # index=False를 사용하여 인덱스를 저장하지 않습니다.

print(f'CSV 파일이 생성되었습니다: {csv_file_path}')

In [20]:
import chardet

with open('user_data.csv', 'rb') as f:
    result = chardet.detect(f.read())
    encoding = result['encoding']

data = pd.read_csv('user_data.csv', encoding=encoding)
data

      age      money    salary  financial_products
0      84  206000000  61100000                 372
1      94   34000000  45100000                 236
2       8   14000000  69900000                 442
3      91   37000000  49900000                 186
4      66  397000000  70200000                 476
...   ...        ...       ...                 ...
9995   17  160000000  46700000                  45
9996   26  492000000  68300000                  60
9997   37  248000000  38500000                 311
9998   93   49000000  35300000                  89
9999   56  932000000  33800000                 255

[10000 rows x 4 columns]

In [42]:

X = data[['age', 'money', 'salary']]  # 특성
y = data['financial_products']  # 타겟

# 데이터를 훈련 세트와 테스트 세트로 나눔
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# 랜덤 포레스트 분류기 초기화
model = RandomForestClassifier(n_estimators=100)

# 모델 훈련
model.fit(X_train, y_train)

# 테스트 세트에서 예측 수행
y_pred = model.predict(X_test)

# 정확도 평가
accuracy = accuracy_score(y_test, y_pred)
print(f'모델 정확도: {accuracy}')

모델 정확도: 0.0005

In [67]:
# 새로운 데이터
new_data = pd.DataFrame({'age': [30], 'money': [5000000], 'salary': [60000000]})

# 모델을 사용하여 예측
prediction = model.predict(new_data)

# 결과 출력
print(f'예측 결과: {prediction}')
new_data

예측 결과: [155]

   age    money    salary
0   30  5000000  60000000

In [60]:
saved_model = pickle.dumps(model)

In [61]:
joblib.dump(model, 'mymodel.pkl')

['mymodel.pkl']

In [63]:
clf_from_joblib = joblib.load('mymodel.pkl')

In [70]:
test = pd.DataFrame({'age': [40], 'money': [50000000], 'salary': [30000000]})
a = clf_from_joblib.predict(test)
a

array([37], dtype=int64)